@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "GEA Sans";
  src: url("/fonts/GEASans-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter-Regular.woff2") format("woff2");
}

:root {
  color-scheme: light;
}

body {
  @apply min-h-screen bg-slate-100 text-slate-900;
  font-family: "GEA Sans", sans-serif;
}

p,
label,
input,
select,
button {
  font-family: "Inter", sans-serif;
}